
.wechat-picker-toolbar {
  padding: 15px 0 0;
}

.wechat-picker-toolbar i {
  float: left;
  width: 24px;
  height: 24px;
  margin-right: 6px;
  background: #000;
  border: 1px solid #e7e7eb;
  cursor: pointer;
}
.wechat-picker-toolbar div {
  position: relative;
  display: inline-block;
  width: 98px;
  height: 24px;
  padding: 0 5px;
  border: 1px solid #e7e7eb;
}
.wechat-picker-toolbar div span {
  position: absolute;
  top: 2px;
  font-size: 14px;
  color: #222;
  font-weight: 400;
}
.wechat-picker-toolbar div input {
  outline: 0;
  width: 60px;
  border: 0;
  margin: 0 0 0 10px;
  color: #222;
  font-size: 14px;
}
.wechat-picker-toolbar button {
  float: right;
  margin-left: 6px;
  padding: 0 20px;
  height: 26px;
  line-height: 26px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  font-size: 14px;
  cursor: pointer;
  border: 1px solid #e7e7eb;
  background-color: #fff;
  color: #222;
  outline: 0;
}
.wechat-picker-toolbar button:hover {
  border: 1px solid #dadbe0;
}