
.wechat-colorpicker {
    padding: 20px;
    width: 220px;
    background: #fff;
    font-weight: 100;
    border: 1px solid #e7e7eb;
    text-align: left;
}
.wechat-colorpicker.base-color .wechat-picker-box i:first-child {
    color: #8d8d8d;
}
.wechat-colorpicker.more-color .wechat-picker-box i:last-child {
    color: #8d8d8d;
}
.wechat-colorpicker.base-color .wechat-picker {
    display: none;
}
.wechat-colorpicker.more-color .wechat-base-wrapper {
    display: none;
}
.wechat-picker {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative;
}

.wechat-picker-saturation {
    position: relative;
    height: 100%;
    background: -webkit-linear-gradient(left, #fff, #f00);
    background: linear-gradient(to right, #fff, #f00);
    float: left;
    margin-right: 10px;
    cursor: crosshair;
}

.wechat-picker-brightness {
    width: 100%;
    height: 100%;
    background: -webkit-linear-gradient(rgba(255, 255, 255, 0), #000);
    background: linear-gradient(rgba(255, 255, 255, 0), #000);
}

.wechat-picker-sbSelector {
    border: 1px solid #fff !important;
    position: absolute;
    width: 7px;
    height: 7px;
    background: #fff;
    border-radius: 4px;
    top: -3px;
    left: -3px;
    box-sizing: border-box;
    z-index: 10;
}

.wechat-picker-hue {
    width: 20px;
    height: 100%;
    position: relative;
    float: left;
    background: -webkit-linear-gradient(#f00 0%, #f0f 17%, #00f 34%, #0ff 50%, #0f0 67%, #ff0 84%, #f00 100%);
    background: linear-gradient(#f00 0%, #f0f 17%, #00f 34%, #0ff 50%, #0f0 67%, #ff0 84%, #f00 100%);
}

.wechat-picker-hSelector {
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    border-bottom: 1px solid #000;
    width: 20px;
    height: 5px;
    border-radius: 50px;
}
