.wechat-picker-box {
  padding: 0 0 12px;
  border-bottom: 1px dotted #e7e7eb;
}

.wechat-picker-box span {
  cursor: pointer;
}

.wechat-picker-box p {
  color: #d2d2d2;
  font-size: 14px;
  margin: 0 0 5px;
}

.wechat-picker-box p i {
  font-style: normal;
  padding: 0 .5em;
  font-size: 14px;
  border-left: 1px solid #e7e7eb;
}

.wechat-picker-box p i:first-child {
  padding-left: 0;
  border-left-width: 0;
}

.wechat-base-wrapper {
  font-size: 0;
}

.wechat-base-wrapper span {
  display: inline-block;
  width: 18px;
  height: 18px;
  margin: 0 4px 4px 0;
  border: 1px solid #e7e7eb;
}